[Unit]
Description=Drive Filesystem Client
After=network.target

[Service]
ExecStart=/usr/bin/bdfsclientd
Restart=on-failure

[Install]
WantedBy=multi-user.target
